In [1]:
# imports
import re
import os
import json
import pprint
import datetime
import pandas as pd
import numpy as np

In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns 
census_train = pd.read_csv("C:/Users/EJE913/ct16_cap1_ds6/project_2/data/ad_placement/census-income.csv", header=None)

In [3]:
census_train.columns= ['age', 'class_of_worker', 'industry_recode','occupation_recode', 'education', 'wage_per_hour', \
                      'enroll_in_ed', 'marital', 'industry_cd', 'occupation_cd', 'race', 'hispanic_origin', 'sex', \
                      'labor_union', 'reason_unemployed', 'employ_stat', 'capital_gains', 'capital_losses', 'dividends', \
                      'tax_filer', 'region_prev_resid', 'state_prev_resid', 'household_stat','household_summary', 'weight',\
                      'change_in_msa', 'change_in_reg', 'move_within_reg', 'live_here_before', 'prev_resid_sunbelt',\
                      'num_person_worked', 'under_18', 'birth_country_dad', 'birth_country_mom', 'birth_country_self', \
                      'citizenship', 'owner_self_employed', 'veterans_admin', 'veterans_benefits', 'weekes_worked_year', 'year', \
                       'target']

In [4]:
census_train.head()

,age,class_of_worker,industry_recode,occupation_recode,education,wage_per_hour,enroll_in_ed,marital,industry_cd,occupation_cd,...,birth_country_dad,birth_country_mom,birth_country_self,citizenship,owner_self_employed,veterans_admin,veterans_benefits,weekes_worked_year,year,target
0,73,Not in universe,0,0,High school graduate,0,Not in universe,Widowed,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,0,95,- 50000.
1,58,Self-employed-not incorporated,4,34,Some college but no degree,0,Not in universe,Divorced,Construction,Precision production craft & repair,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,2,52,94,- 50000.
2,18,Not in universe,0,0,10th grade,0,High school,Never married,Not in universe or children,Not in universe,...,Vietnam,Vietnam,Vietnam,Foreign born- Not a citizen of U S,0,Not in universe,2,0,95,- 50000.
3,9,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.
4,10,Not in universe,0,0,Children,0,Not in universe,Never married,Not in universe or children,Not in universe,...,United-States,United-States,United-States,Native- Born in the United States,0,Not in universe,0,0,94,- 50000.

In [5]:
census_train_test = pd.read_csv("C:/Users/FGG851/Documents/Training/BDA Data Science Bootcamp/ct16_cap1_ds6/project_2/data/ad_placement/census-income-test.csv", header=None) 
census_train_test.columns= ['age', 'class_of_worker', 'industry_recode','occupation_recode', 'education', 'wage_per_hour', \
                      'enroll_in_ed', 'marital', 'industry_cd', 'occupation_cd', 'race', 'hispanic_origin', 'sex', \
                      'labor_union', 'reason_unemployed', 'employ_stat', 'capital_gains', 'capital_losses', 'dividends', \
                      'tax_filer', 'region_prev_resid', 'state_prev_resid', 'household_stat','household_summary', 'weight',\
                      'change_in_msa', 'change_in_reg', 'move_within_reg', 'live_here_before', 'prev_resid_sunbelt',\
                      'num_person_worked', 'under_18', 'birth_country_dad', 'birth_country_mom', 'birth_country_self', \
                      'citizenship', 'owner_self_employed', 'veterans_admin', 'veterans_benefits', 'weekes_worked_year', 'year', \
                       'target']

IOError: File C:/Users/FGG851/Documents/Training/BDA Data Science Bootcamp/ct16_cap1_ds6/project_2/data/ad_placement/census-income-test.csv does not exist

In [406]:
census_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 199523 entries, 0 to 199522
Data columns (total 42 columns):
age                    199523 non-null int64
class_of_worker        199523 non-null object
industry_recode        199523 non-null int64
occupation_recode      199523 non-null int64
education              199523 non-null object
wage_per_hour          199523 non-null int64
enroll_in_ed           199523 non-null object
marital                199523 non-null object
industry_cd            199523 non-null object
occupation_cd          199523 non-null object
race                   199523 non-null object
hispanic_origin        199523 non-null object
sex                    199523 non-null object
labor_union            199523 non-null object
reason_unemployed      199523 non-null object
employ_stat            199523 non-null object
capital_gains          199523 non-null int64
capital_losses         199523 non-null int64
dividends              199523 non-null int64
tax_filer              199523 non-null object
region_prev_resid      199523 non-null object
state_prev_resid       199523 non-null object
household_stat         199523 non-null object
household_summary      199523 non-null object
weight                 199523 non-null float64
change_in_msa          199523 non-null object
change_in_reg          199523 non-null object
move_within_reg        199523 non-null object
live_here_before       199523 non-null object
prev_resid_sunbelt     199523 non-null object
num_person_worked      199523 non-null int64
under_18               199523 non-null object
birth_country_dad      199523 non-null object
birth_country_mom      199523 non-null object
birth_country_self     199523 non-null object
citizenship            199523 non-null object
owner_self_employed    199523 non-null int64
veterans_admin         199523 non-null object
veterans_benefits      199523 non-null int64
weekes_worked_year     199523 non-null int64
year                   199523 non-null int64
target                 199523 non-null object
dtypes: float64(1), int64(12), object(29)

In [407]:
print(census_train.tax_filer.value_counts())

 Nonfiler                        75094
 Joint both under 65             67383
 Single                          37421
 Joint both 65+                   8332
 Head of household                7426
 Joint one under 65 & one 65+     3867
dtype: int64

In [408]:
# make target 0/1
census_train['target_bin']=census_train['target'].apply(lambda x: 1 if x.strip()=='50000+.' else 0 if x.strip()=='- 50000.' else 'miss')
#print census_train.groupby(['target_bin']).count()

# lets bucket ages 

# 0-15 (child-1), 16-22 (school-2), 23-39 (entry-3), 40-66 (manage-4), 67+ (retire-5)
census_train['age_bucket']=census_train['age'].apply(lambda x: 1 if 0<=x<=15 else 2 if 16<=x<=22 else 3 if 23<=x<=39 else 4 if 40<=x<=66
                                             else 5 if x>=67 else 'miss')
census_train['age_bucket'].value_counts()

#class of worker
'''
All people over the age of 15 who have been employed at any 
time are asked to designate the type of work normally done or the work performed most regularly. 
'''

print census_train['class_of_worker'].value_counts()

 Not in universe                   100245
 Private                            72028
 Self-employed-not incorporated      8445
 Local government                    7784
 State government                    4227
 Self-employed-incorporated          3265
 Federal government                  2925
 Never worked                         439
 Without pay                          165
dtype: int64

In [409]:
print census_train.groupby(['class_of_worker','target_bin']).count()

                                              age  class_of_worker  \
class_of_worker                 target_bin
 Federal government             0            2328             2328
                                1             597              597
 Local government               0            6937             6937
                                1             847              847
 Never worked                   0             437              437
                                1               2                2
 Not in universe                0           99341            99341
                                1             904              904
 Private                        0           64706            64706
                                1            7322             7322
 Self-employed-incorporated     0            2131             2131
                                1            1134             1134
 Self-employed-not incorporated 0            7355             7355
                                1            1090             1090
 State government               0            3742             3742
                                1             485              485
 Without pay                    0             164              164
                                1               1                1

                                            industry_recode  \
class_of_worker                 target_bin
 Federal government             0                      2328
                                1                       597
 Local government               0                      6937
                                1                       847
 Never worked                   0                       437
                                1                         2
 Not in universe                0                     99341
                                1                       904
 Private                        0                     64706
                                1                      7322
 Self-employed-incorporated     0                      2131
                                1                      1134
 Self-employed-not incorporated 0                      7355
                                1                      1090
 State government               0                      3742
                                1                       485
 Without pay                    0                       164
                                1                         1

                                            occupation_recode  education  \
class_of_worker                 target_bin
 Federal government             0                        2328       2328
                                1                         597        597
 Local government               0                        6937       6937
                                1                         847        847
 Never worked                   0                         437        437
                                1                           2          2
 Not in universe                0                       99341      99341
                                1                         904        904
 Private                        0                       64706      64706
                                1                        7322       7322
 Self-employed-incorporated     0                        2131       2131
                                1                        1134       1134
 Self-employed-not incorporated 0                        7355       7355
                                1                        1090       1090
 State government               0                        3742       3742
                                1                         485        485
 Without pay                    0                         164        164
                                1                           1          1

                                            wage_per_hour  enroll_in_ed  \
class_of_worker                 target_bin
 Federal government             0                    2328          2328
                                1                     597           597
 Local government               0                    6937          6937
                                1                     847           847
 Never worked                   0                     437           437
                                1                       2             2
 Not in universe                0                   99341         99341
                                1                     904           904
 Private                        0                   64706         64706
                                1                    7322          7322
 Self-employed-incorporated     0                    2131          2131
                                1                    1134          1134
 Self-employed-not incorporated 0                    7355          7355
                                1                    1090          1090
 State government               0                    3742          3742
                                1                     485           485
 Without pay                    0                     164           164
                                1                       1             1

                                            marital  industry_cd  \
class_of_worker                 target_bin
 Federal government             0              2328         2328
                                1               597          597
 Local government               0              6937         6937
                                1               847          847
 Never worked                   0               437          437
                                1                 2            2
 Not in universe                0             99341        99341
                                1               904          904
 Private                        0             64706        64706
                                1              7322         7322
 Self-employed-incorporated     0              2131         2131
                                1              1134         1134
 Self-employed-not incorporated 0              7355         7355
                                1              1090         1090
 State government               0              3742         3742
                                1               485          485
 Without pay                    0               164          164
                                1                 1            1

                                            occupation_cd   race  \
class_of_worker                 target_bin
 Federal government             0                    2328   2328
                                1                     597    597
 Local government               0                    6937   6937
                                1                     847    847
 Never worked                   0                     437    437
                                1                       2      2
 Not in universe                0                   99341  99341
                                1                     904    904
 Private                        0                   64706  64706
                                1                    7322   7322
 Self-employed-incorporated     0                    2131   2131
                                1                    1134   1134
 Self-employed-not incorporated 0                    7355   7355
                                1                    1090   1090
 State government               0                    3742   3742
                                1                     485    485
 Without pay                    0                     164    164
                                1                       1      1

                                            hispanic_origin    sex  \
class_of_worker                 target_bin
 Federal government             0                      2328   2328
                                1                       597    597
 Local government               0                      6937   6937
                                1                       847    847
 Never worked                   0                       437    437
                                1                         2      2
 Not in universe                0                     99341  99341
                                1                       904    904
 Private                        0                     64706  64706
                                1                      7322   7322
 Self-employed-incorporated     0                      2131   2131
                                1                      1134   1134
 Self-employed-not incorporated 0                      7355   7355
                                1                      1090   1090
 State government               0                      3742   3742
                                1                       485    485
 Without pay                    0                       164    164
                                1                         1      1

                                            labor_union  reason_unemployed  \
class_of_worker                 target_bin
 Federal government             0                  2328               2328
                                1                   597                597
 Local government               0                  6937               6937
                                1                   847                847
 Never worked                   0                   437                437
                                1                     2                  2
 Not in universe                0                 99341              99341
                                1                   904                904
 Private                        0                 64706              64706
                                1                  7322               7322
 Self-employed-incorporated     0                  2131               2131
                                1                  1134               1134
 Self-employed-not incorporated 0                  7355               7355
                                1                  1090               1090
 State government               0                  3742               3742
                                1                   485                485
 Without pay                    0                   164                164
                                1                     1                  1

                                            employ_stat  capital_gains  \
class_of_worker                 target_bin
 Federal government             0                  2328           2328
                                1                   597            597
 Local government               0                  6937           6937
                                1                   847            847
 Never worked                   0                   437            437
                                1                     2              2
 Not in universe                0                 99341          99341
                                1                   904            904
 Private                        0                 64706          64706
                                1                  7322           7322
 Self-employed-incorporated     0                  2131           2131
                                1                  1134           1134
 Self-employed-not incorporated 0                  7355           7355
                                1                  1090           1090
 State government               0                  3742           3742
                                1                   485            485
 Without pay                    0                   164            164
                                1                     1              1

                                            capital_losses  dividends  \
class_of_worker                 target_bin
 Federal government             0                     2328       2328
                                1                      597        597
 Local government               0                     6937       6937
                                1                      847        847
 Never worked                   0                      437        437
                                1                        2          2
 Not in universe                0                    99341      99341
                                1                      904        904
 Private                        0                    64706      64706
                                1                     7322       7322
 Self-employed-incorporated     0                     2131       2131
                                1                     1134       1134
 Self-employed-not incorporated 0                     7355       7355
                                1                     1090       1090
 State government               0                     3742       3742
                                1                      485        485
 Without pay                    0                      164        164
                                1                        1          1

                                            tax_filer
class_of_worker                 target_bin
 Federal government             0                2328 ...
                                1                 597 ...
 Local government               0                6937 ...
                                1                 847 ...
 Never worked                   0                 437 ...
                                1                   2 ...
 Not in universe                0               99341 ...
                                1                 904 ...
 Private                        0               64706 ...
                                1                7322 ...
 Self-employed-incorporated     0                2131 ...
                                1                1134 ...
 Self-employed-not incorporated 0                7355 ...
                                1                1090 ...
 State government               0                3742 ...
                                1                 485 ...
 Without pay                    0                 164 ...
                                1                   1 ...

[18 rows x 44 columns]

In [410]:
# convert to numebrs
census_train['class_code']=census_train['class_of_worker'].apply(lambda x: 0 if x.strip()=='Not in universe' 
                                                                else 1 if x.strip()=='Private'
                                                                else 2 if x.strip()=='Self-employed-not incorporated'
                                                                else 3 if x.strip()=='Local government'
                                                                else 4 if x.strip()=='State government'
                                                                else 5 if x.strip()=='Federal government'
                                                                else 6 if x.strip()=='Never worked'
                                                                else 7 if x.strip()=='Without pay'
                                                                else 8 if x.strip()=='Self-employed-incorporated'
                                                                else 'miss')
census_train['class_code'].value_counts()

0    100245
1     72028
2      8445
3      7784
4      4227
8      3265
5      2925
6       439
7       165
dtype: int64

In [411]:
# industry recode
census_train['industry_recode'].value_counts()

0     100684
33     17070
43      8283
4       5984
42      4683
45      4482
29      4209
37      4022
41      3964
32      3596
35      3380
39      2937
34      2765
44      2549
2       2196
11      1764
50      1704
40      1651
47      1644
38      1629
24      1503
12      1350
19      1346
30      1181
31      1178
25      1084
9        993
22       952
36       945
13       899
1        827
48       652
27       626
49       610
3        563
21       559
6        554
5        553
8        550
16       539
23       525
18       483
15       452
7        422
14       295
46       187
17       157
28       143
26       127
51        36
20        32
10         4
Length: 52, dtype: int64

In [412]:
# lets bucket into the major industries to reduce the number of categories
census_train.groupby(['industry_recode','industry_cd']).count()

                                                         age  class_of_worker  \
industry_recode industry_cd
0                Not in universe or children          100684           100684
1                Agriculture                             827              827
2                Agriculture                            2196             2196
3                Mining                                  563              563
4                Construction                           5984             5984
5                Manufacturing-durable goods             553              553
6                Manufacturing-durable goods             554              554
7                Manufacturing-durable goods             422              422
8                Manufacturing-durable goods             550              550
9                Manufacturing-durable goods             993              993
10               Manufacturing-durable goods               4                4
11               Manufacturing-durable goods            1764             1764
12               Manufacturing-durable goods            1350             1350
13               Manufacturing-durable goods             899              899
14               Manufacturing-durable goods             295              295
15               Manufacturing-durable goods             452              452
16               Manufacturing-durable goods             539              539
17               Manufacturing-durable goods             157              157
18               Manufacturing-durable goods             483              483
19               Manufacturing-nondurable goods         1346             1346
20               Manufacturing-nondurable goods           32               32
21               Manufacturing-nondurable goods          559              559
22               Manufacturing-nondurable goods          952              952
23               Manufacturing-nondurable goods          525              525
24               Manufacturing-nondurable goods         1503             1503
25               Manufacturing-nondurable goods         1084             1084
26               Manufacturing-nondurable goods          127              127
27               Manufacturing-nondurable goods          626              626
28               Manufacturing-nondurable goods          143              143
29               Transportation                         4209             4209
30               Communications                         1181             1181
31               Utilities and sanitary services        1178             1178
32               Wholesale trade                        3596             3596
33               Retail trade                          17070            17070
34               Finance insurance and real estate      2765             2765
35               Finance insurance and real estate      3380             3380
36               Private household services              945              945
37               Business and repair services           4022             4022
38               Business and repair services           1629             1629
39               Personal services except private HH    2937             2937
40               Entertainment                          1651             1651
41               Hospital services                      3964             3964
42               Medical except hospital                4683             4683
43               Education                              8283             8283
44               Social services                        2549             2549
45               Other professional services            4482             4482
46               Forestry and fisheries                  187              187
47               Public administration                  1644             1644
48               Public administration                   652              652
49               Public administration                   610              610
50               Public administration                  1704             1704
51               Armed Forces                             36               36

                                                      industry_recode  \
industry_recode industry_cd
0                Not in universe or children                   100684
1                Agriculture                                      827
2                Agriculture                                     2196
3                Mining                                           563
4                Construction                                    5984
5                Manufacturing-durable goods                      553
6                Manufacturing-durable goods                      554
7                Manufacturing-durable goods                      422
8                Manufacturing-durable goods                      550
9                Manufacturing-durable goods                      993
10               Manufacturing-durable goods                        4
11               Manufacturing-durable goods                     1764
12               Manufacturing-durable goods                     1350
13               Manufacturing-durable goods                      899
14               Manufacturing-durable goods                      295
15               Manufacturing-durable goods                      452
16               Manufacturing-durable goods                      539
17               Manufacturing-durable goods                      157
18               Manufacturing-durable goods                      483
19               Manufacturing-nondurable goods                  1346
20               Manufacturing-nondurable goods                    32
21               Manufacturing-nondurable goods                   559
22               Manufacturing-nondurable goods                   952
23               Manufacturing-nondurable goods                   525
24               Manufacturing-nondurable goods                  1503
25               Manufacturing-nondurable goods                  1084
26               Manufacturing-nondurable goods                   127
27               Manufacturing-nondurable goods                   626
28               Manufacturing-nondurable goods                   143
29               Transportation                                  4209
30               Communications                                  1181
31               Utilities and sanitary services                 1178
32               Wholesale trade                                 3596
33               Retail trade                                   17070
34               Finance insurance and real estate               2765
35               Finance insurance and real estate               3380
36               Private household services                       945
37               Business and repair services                    4022
38               Business and repair services                    1629
39               Personal services except private HH             2937
40               Entertainment                                   1651
41               Hospital services                               3964
42               Medical except hospital                         4683
43               Education                                       8283
44               Social services                                 2549
45               Other professional services                     4482
46               Forestry and fisheries                           187
47               Public administration                           1644
48               Public administration                            652
49               Public administration                            610
50               Public administration                           1704
51               Armed Forces                                      36

                                                      occupation_recode  \
industry_recode industry_cd
0                Not in universe or children                     100684
1                Agriculture                                        827
2                Agriculture                                       2196
3                Mining                                             563
4                Construction                                      5984
5                Manufacturing-durable goods                        553
6                Manufacturing-durable goods                        554
7                Manufacturing-durable goods                        422
8                Manufacturing-durable goods                        550
9                Manufacturing-durable goods                        993
10               Manufacturing-durable goods                          4
11               Manufacturing-durable goods                       1764
12               Manufacturing-durable goods                       1350
13               Manufacturing-durable goods                        899
14               Manufacturing-durable goods                        295
15               Manufacturing-durable goods                        452
16               Manufacturing-durable goods                        539
17               Manufacturing-durable goods                        157
18               Manufacturing-durable goods                        483
19               Manufacturing-nondurable goods                    1346
20               Manufacturing-nondurable goods                      32
21               Manufacturing-nondurable goods                     559
22               Manufacturing-nondurable goods                     952
23               Manufacturing-nondurable goods                     525
24               Manufacturing-nondurable goods                    1503
25               Manufacturing-nondurable goods                    1084
26               Manufacturing-nondurable goods                     127
27               Manufacturing-nondurable goods                     626
28               Manufacturing-nondurable goods                     143
29               Transportation                                    4209
30               Communications                                    1181
31               Utilities and sanitary services                   1178
32               Wholesale trade                                   3596
33               Retail trade                                     17070
34               Finance insurance and real estate                 2765
35               Finance insurance and real estate                 3380
36               Private household services                         945
37               Business and repair services                      4022
38               Business and repair services                      1629
39               Personal services except private HH               2937
40               Entertainment                                     1651
41               Hospital services                                 3964
42               Medical except hospital                           4683
43               Education                                         8283
44               Social services                                   2549
45               Other professional services                       4482
46               Forestry and fisheries                             187
47               Public administration                             1644
48               Public administration                              652
49               Public administration                              610
50               Public administration                             1704
51               Armed Forces                                        36

                                                      education  \
industry_recode industry_cd
0                Not in universe or children             100684
1                Agriculture                                827
2                Agriculture                               2196
3                Mining                                     563
4                Construction                              5984
5                Manufacturing-durable goods                553
6                Manufacturing-durable goods                554
7                Manufacturing-durable goods                422
8                Manufacturing-durable goods                550
9                Manufacturing-durable goods                993
10               Manufacturing-durable goods                  4
11               Manufacturing-durable goods               1764
12               Manufacturing-durable goods               1350
13               Manufacturing-durable goods                899
14               Manufacturing-durable goods                295
15               Manufacturing-durable goods                452
16               Manufacturing-durable goods                539
17               Manufacturing-durable goods                157
18               Manufacturing-durable goods                483
19               Manufacturing-nondurable goods            1346
20               Manufacturing-nondurable goods              32
21               Manufacturing-nondurable goods             559
22               Manufacturing-nondurable goods             952
23               Manufacturing-nondurable goods             525
24               Manufacturing-nondurable goods            1503
25               Manufacturing-nondurable goods            1084
26               Manufacturing-nondurable goods             127
27               Manufacturing-nondurable goods             626
28               Manufacturing-nondurable goods             143
29               Transportation                            4209
30               Communications                            1181
31               Utilities and sanitary services           1178
32               Wholesale trade                           3596
33               Retail trade                             17070
34               Finance insurance and real estate         2765
35               Finance insurance and real estate         3380
36               Private household services                 945
37               Business and repair services              4022
38               Business and repair services              1629
39               Personal services except private HH       2937
40               Entertainment                             1651
41               Hospital services                         3964
42               Medical except hospital                   4683
43               Education                                 8283
44               Social services                           2549
45               Other professional services               4482
46               Forestry and fisheries                     187
47               Public administration                     1644
48               Public administration                      652
49               Public administration                      610
50               Public administration                     1704
51               Armed Forces                                36

                                                      wage_per_hour  \
industry_recode industry_cd
0                Not in universe or children                 100684
1                Agriculture                                    827
2                Agriculture                                   2196
3                Mining                                         563
4                Construction                                  5984
5                Manufacturing-durable goods                    553
6                Manufacturing-durable goods                    554
7                Manufacturing-durable goods                    422
8                Manufacturing-durable goods                    550
9                Manufacturing-durable goods                    993
10               Manufacturing-durable goods                      4
11               Manufacturing-durable goods                   1764
12               Manufacturing-durable goods                   1350
13               Manufacturing-durable goods                    899
14               Manufacturing-durable goods                    295
15               Manufacturing-durable goods                    452
16               Manufacturing-durable goods                    539
17               Manufacturing-durable goods                    157
18               Manufacturing-durable goods                    483
19               Manufacturing-nondurable goods                1346
20               Manufacturing-nondurable goods                  32
21               Manufacturing-nondurable goods                 559
22               Manufacturing-nondurable goods                 952
23               Manufacturing-nondurable goods                 525
24               Manufacturing-nondurable goods                1503
25               Manufacturing-nondurable goods                1084
26               Manufacturing-nondurable goods                 127
27               Manufacturing-nondurable goods                 626
28               Manufacturing-nondurable goods                 143
29               Transportation                                4209
30               Communications                                1181
31               Utilities and sanitary services               1178
32               Wholesale trade                               3596
33               Retail trade                                 17070
34               Finance insurance and real estate             2765
35               Finance insurance and real estate             3380
36               Private household services                     945
37               Business and repair services                  4022
38               Business and repair services                  1629
39               Personal services except private HH           2937
40               Entertainment                                 1651
41               Hospital services                             3964
42               Medical except hospital                       4683
43               Education                                     8283
44               Social services                               2549
45               Other professional services                   4482
46               Forestry and fisheries                         187
47               Public administration                         1644
48               Public administration                          652
49               Public administration                          610
50               Public administration                         1704
51               Armed Forces                                    36

                                                      enroll_in_ed  marital  \
industry_recode industry_cd
0                Not in universe or children                100684   100684
1                Agriculture                                   827      827
2                Agriculture                                  2196     2196
3                Mining                                        563      563
4                Construction                                 5984     5984
5                Manufacturing-durable goods                   553      553
6                Manufacturing-durable goods                   554      554
7                Manufacturing-durable goods                   422      422
8                Manufacturing-durable goods                   550      550
9                Manufacturing-durable goods                   993      993
10               Manufacturing-durable goods                     4        4
11               Manufacturing-durable goods                  1764     1764
12               Manufacturing-durable goods                  1350     1350
13               Manufacturing-durable goods                   899      899

In [413]:
'''
0: not in universe
1: agriculture, fishing, forestry, hunting
2: mining
3: construction
4: manufacturing
5: wholesale and retail trade
6: transportation and utilities
7: information
8: financial activities
9: professional and business services
10: education and health services
11: leisure and hospitality
12: other services
13: public administration
14: armed forces
'''

industry_major={0:0,1:1,2:1,3:2,4:3,5:4,6:4,7:4,8:4,9:4,10:4,11:4,12:4,13:4,14:4,15:4,16:4,17:4,18:4,19:4,20:4,21:4,
               22:4,23:4,24:4,25:4,26:4,27:4,28:4,29:6,30:6,31:6,32:5,33:5,34:8,35:8,36:12,37:9,38:9,39:12,40:11,41:10,
               42:10,43:10,44:12,45:9,46:1,47:13,48:13,49:13,50:13,51:14}
census_train['industry_major_cd']=census_train['industry_recode'].apply(lambda x: industry_major.get(x))
census_train['industry_major_cd'].value_counts()

0     100684
5      20666
10     16930
4      15912
9      10133
6       6568
12      6431
8       6145
3       5984
13      4610
1       3210
11      1651
2        563
14        36
dtype: int64

In [414]:
# occupation recode
census_train['occupation_recode'].value_counts()

0     100684
2       8756
26      7887
19      5413
29      5105
36      4145
34      4025
10      3683
16      3445
23      3392
12      3340
33      3325
3       3195
35      3168
38      3003
31      2699
32      2398
37      2234
8       2151
42      1918
30      1897
24      1847
17      1771
28      1661
44      1592
41      1592
43      1382
4       1364
13      1271
18      1083
39      1017
14       932
5        855
15       815
27       780
25       767
9        738
7        731
11       637
40       617
1        544
21       533
6        441
22       411
45       172
20        71
46        36
dtype: int64

In [415]:
# education
census_train['education'].value_counts()

 High school graduate                      48407
 Children                                  47422
 Some college but no degree                27820
 Bachelors degree(BA AB BS)                19865
 7th and 8th grade                          8007
 10th grade                                 7557
 11th grade                                 6876
 Masters degree(MA MS MEng MEd MSW MBA)     6541
 9th grade                                  6230
 Associates degree-occup /vocational        5358
 Associates degree-academic program         4363
 5th or 6th grade                           3277
 12th grade no diploma                      2126
 1st 2nd 3rd or 4th grade                   1799
 Prof school degree (MD DDS DVM LLB JD)     1793
 Doctorate degree(PhD EdD)                  1263
 Less than 1st grade                         819
dtype: int64

In [416]:
#lets group these a bit and convert to numbers
census_train['education_bucket']=census_train['education'].apply(lambda x: 2 if x.strip()=='Less than 1st grade'
                                                                else 2 if x.strip()=='1st 2nd 3rd or 4th grade'
                                                                else 3 if x.strip()=='5th or 6th grade'
                                                                else 1 if x.strip()=='Children'
                                                                else 3 if x.strip()=='7th and 8th grade'
                                                                else 4 if x.strip()=='9th grade'
                                                                else 4 if x.strip()=='10th grade'
                                                                else 4 if x.strip()=='11th grade'
                                                                else 4 if x.strip()=='12th grade no diploma'
                                                                else 5 if x.strip()=='High school graduate'
                                                                else 6 if x.strip()=='Some college but no degree'
                                                                else 6 if x.strip()=='Associates degree-occup /vocational'
                                                                else 6 if x.strip()=='Associates degree-academic program'
                                                                else 7 if x.strip()=='Bachelors degree(BA AB BS)'
                                                                else 8 if x.strip()=='Masters degree(MA MS MEng MEd MSW MBA)'
                                                                else 8 if x.strip()=='Prof school degree (MD DDS DVM LLB JD)'
                                                                else 8 if x.strip()=='Doctorate degree(PhD EdD)'
                                                                else 'miss')

In [417]:
# wage per hour
census_train['wage_per_hour'].value_counts()

0       188219
500        734
600        546
700        534
800        507
1000       386
425        376
900        336
550        280
1200       256
1100       235
650        229
450        222
1500       221
750        202
...
626     1
742     1
1224    1
1960    1
2291    1
2163    1
1096    1
1638    1
1905    1
487     1
743     1
584     1
170     1
1265    1
2142    1
Length: 1240, dtype: int64

In [418]:
# enroll in ed
census_train['enroll_in_ed'].value_counts()

 Not in universe          186943
 High school                6892
 College or university      5688
dtype: int64

In [419]:
#this seems pretty useless to me since 94% have the same value so let's drop it!
census_train.drop(['enroll_in_ed'], axis=1, inplace=True)

# marital
census_train['marital'].value_counts()

 Never married                      86485
 Married-civilian spouse present    84222
 Divorced                           12710
 Widowed                            10463
 Separated                           3460
 Married-spouse absent               1518
 Married-A F spouse present           665
dtype: int64

In [420]:
#convert to number
census_train['marital_code']=census_train['marital'].apply(lambda x: 0 if x.strip()=='Never married' 
                                                                else 1 if x.strip()=='Married-civilian spouse present'
                                                                else 2 if x.strip()=='Divorced'
                                                                else 3 if x.strip()=='Widowed'
                                                                else 4 if x.strip()=='Separated'
                                                                else 5 if x.strip()=='Married-spouse absent'
                                                                else 6 if x.strip()=='Married-A F spouse present'
                                                                else 'miss')

In [421]:
print census_train[:10].head()

   age                  class_of_worker  industry_recode  occupation_recode  \
0   73                  Not in universe                0                  0
1   58   Self-employed-not incorporated                4                 34
2   18                  Not in universe                0                  0
3    9                  Not in universe                0                  0
4   10                  Not in universe                0                  0

                     education  wage_per_hour         marital  \
0         High school graduate              0         Widowed
1   Some college but no degree              0        Divorced
2                   10th grade              0   Never married
3                     Children              0   Never married
4                     Children              0   Never married

                    industry_cd                         occupation_cd  \
0   Not in universe or children                       Not in universe
1                  Construction   Precision production craft & repair
2   Not in universe or children                       Not in universe
3   Not in universe or children                       Not in universe
4   Not in universe or children                       Not in universe

                         race hispanic_origin      sex       labor_union  \
0                       White       All other   Female   Not in universe
1                       White       All other     Male   Not in universe
2   Asian or Pacific Islander       All other   Female   Not in universe
3                       White       All other   Female   Not in universe
4                       White       All other   Female   Not in universe

  reason_unemployed                employ_stat  capital_gains  capital_losses  \
0   Not in universe         Not in labor force              0               0
1   Not in universe   Children or Armed Forces              0               0
2   Not in universe         Not in labor force              0               0
3   Not in universe   Children or Armed Forces              0               0
4   Not in universe   Children or Armed Forces              0               0

   dividends           tax_filer region_prev_resid
0          0            Nonfiler   Not in universe ...
1          0   Head of household             South ...
2          0            Nonfiler   Not in universe ...
3          0            Nonfiler   Not in universe ...
4          0            Nonfiler   Not in universe ...

[5 rows x 47 columns]

In [422]:
sum(census_train.weight)

347245892.47001034

In [423]:
print census_train.target.value_counts()/sum(census_train.target.value_counts())
print census_train.shape

 - 50000.    0.937942
 50000+.     0.062058
dtype: float64
(199523, 47)

In [424]:
census_train['tgt_bin'] = [1 if x.strip() == '- 50000.' else 0 if x.strip() == '50000+.' else -1 for x in census_train.target]
census_train.tgt_bin.value_counts()

1    187141
0     12382
dtype: int64

In [425]:
print census_train.drop_duplicates().shape
#census_train.dtypes

(196291, 48)

In [426]:
#census_cat_train = census_train.select_dtypes(['object'])

In [427]:
#census_cat_train.head()

In [428]:
#'birth_country_dad_cd' - US/Americas/Europe/Asia/?
#'birth_country_mom_cd' - US/Americas/Europe/Asia/?
#'birth_country_self_cd' - US/Americas/Europe/Asia/?
# 'year' - 94/95 (Don't use)
# 'citizenship' - native vs foreign
# 'veterans_admin' - 99% not in universe (Don't use)
# 'veterans_benefits' - 2 (150130)/ 0 (47409)/ 1(1984)
# 'owner_self_employed - 0 (180672)/ 2 (16153)/ 1 (2698) - 91% have 0 not owner neither self-employed
# 'weekes_worked_year' - binned as 0/ 1-48/ 49-52

US = ['United-States', 'Puerto-Rico', 'Canada', 'Outlying-U S (Guam USVI etc)']
Americas = ['Mexico', 'Guatemala', 'Honduras', 'Nicaragua', 'Panama', 'El-Salvador', \
            'Cuba', 'Haiti', 'Dominican-Republic', 'Jamaica', 'Trinadad&Tobago', \
            'Columbia', 'Ecuador', 'Peru']
Europe = ['Germany', 'England', 'Ireland', 'Italy', 'Portugal', 'Hungary', 'Greece', 'Poland', 'Scotland', 'France', \
          'Holand-Netherlands',  'Yugoslavia']
Asias = ['Philippines', 'Vietnam', 'Japan', 'China', 'South Korea', 'India', 'Taiwan',  'Iran', 'Cambodia', \
         'Laos', 'Thailand', 'Hong Kong']

census_train['birth_country_mom_cd'] = ['US' if x.strip() in US else 'Am' if x.strip() in Americas \
                                        else 'E' if x.strip() in Europe else 'A' if x.strip() in Asias \
                                        else '?' for x in census_train.birth_country_mom]

census_train['birth_country_dad_cd'] = ['US' if x.strip() in US else 'Am' if x.strip() in Americas \
                                        else 'E' if x.strip() in Europe else 'A' if x.strip() in Asias \
                                        else '?' for x in census_train.birth_country_dad]

census_train['parents_country_cd'] = ["US" if x == "US" and y == "US" else "US-Foreign" \
                                      if (x == "US" and y != "US") or (x != "US" and y == "US") else "Foreign"\
                                      for x, y in zip(census_train.birth_country_mom_cd, census_train.birth_country_dad_cd)]

census_train['birth_country_self_cd'] = ['US' if x.strip() in US else 'Am' if x.strip() in Americas \
                                        else 'E' if x.strip() in Europe else 'A' if x.strip() in Asias \
                                        else '?' for x in census_train.birth_country_self]
census_train['citizenship_cd'] = ['Native' if x.strip()[:6] == 'Native' else 'Foreign' if x.strip()[:7] == 'Foreign'\
                                  else '?' for x in census_train.citizenship]
census_train['weeks_worked_bin'] = pd.Series([0 if x == 0 else 1 if x <= 48 else 2 for x in census_train.weekes_worked_year])

ft_proxy = [40 if x.strip() in ["Full-time schedules", "PT for econ reasons usually FT", \
            "PT for non-econ reasons usually FT", "Children or Armed Forces"] else 20 for x in census_train.employ_stat]
census_train['work_time_proxy'] = [x*y for x, y in zip(ft_proxy, census_train.weekes_worked_year)]

census_train.work_time_proxy.describe()
# birth_country_dad_cd, parents_country_cd, citizenship_cd, weeks_worked_bin

count    199523.000000
mean        903.951224
std         969.402343
min           0.000000
25%           0.000000
50%         240.000000
75%        2080.000000
max        2080.000000
Name: work_time_proxy, dtype: float64

In [429]:
census_train[census_train.birth_country_mom_cd == "?"].birth_country_mom.value_counts()

 ?    6119
dtype: int64

In [430]:
census_train[census_train.birth_country_dad_cd == "?"].birth_country_dad.value_counts()

 ?    6713
dtype: int64

In [431]:
census_train['parents_country_cd'] = ["US" if x == "US" and y == "US" else "US-Foreign" \
                                      if (x == "US" and y != "US") or (x != "US" and y == "US") else "Foreign"\
                                      for x, y in zip(census_train.birth_country_mom_cd, census_train.birth_country_dad_cd)]

In [432]:
print pd.crosstab(census_train.birth_country_mom_cd, census_train.birth_country_dad_cd)

birth_country_dad_cd     ?     A     Am     E      US
birth_country_mom_cd
?                     4879    69    102   243     826
A                       58  4476     43    20     488
Am                     171    60  14692    78    1341
E                      271    58     52  5313    1723
US                    1334   301   1750  2171  159004

[5 rows x 5 columns]

In [433]:
census_train['birth_country_self_cd'] = ['US' if x.strip() in US else 'Am' if x.strip() in Americas \
                                        else 'E' if x.strip() in Europe else 'A' if x.strip() in Asias \
                                        else '?' for x in census_train.birth_country_self]
census_train.birth_country_self_cd.value_counts()

US    179208
Am     10291
A       3703
?       3393
E       2928
dtype: int64

In [434]:
census_train['citizenship_cd'] = ['Native' if x.strip()[:6] == 'Native' else 'Foreign' if x.strip()[:7] == 'Foreign'\
                                  else '?' for x in census_train.citizenship]

In [435]:
census_train.owner_self_employed.value_counts()/len(census_train)

0    0.905520
2    0.080958
1    0.013522
dtype: float64

In [436]:
census_train.veterans_admin.value_counts()/len(census_train)

 Not in universe    0.990056
 No                 0.007984
 Yes                0.001960
dtype: float64

In [437]:
census_train.veterans_benefits.value_counts()/len(census_train)

2    0.752445
0    0.237612
1    0.009944
dtype: float64

In [438]:
census_train['weeks_worked_bin'] = pd.Series([0 if x == 0 else 1 if x <= 48 else 2 for x in census_train.weekes_worked_year])

In [439]:
print census_train.groupby('weeks_worked_bin').weekes_worked_year.value_counts()
#print census_train.

weeks_worked_bin
0                 0     95983
1                 40     2790
                  26     2268
                  48     1806
                  12     1780
                  30     1378
                  20     1330
                  8      1126
                  36     1108
                  16      945
                  32      883
                  44      845
                  24      767
                  4       757
                  46      708
                  35      704
                  10      694
                  45      669
                  6       646
                  39      602
                  42      573
                  28      568
                  13      496
                  1       464
                  2       458
                  25      457
                  3       417
                  38      380
                  43      374
                  22      370
                  15      353
                  17      331
                  5       309
                  47      278
                  18      272
                  14      257
                  9       239
                  34      230
                  7       152
                  21      135
                  37      123
                  41       88
                  33       81
                  11       78
                  27       76
                  23       67
                  29       63
                  31       51
                  19       48
2                 52    70314
                  50     2304
                  51      819
                  49      509
Length: 53, dtype: int64

In [440]:
pd.crosstab(census_train.hispanic_origin, census_train.birth_country_dad_cd)

birth_country_dad_cd           ?     A    Am     E      US
hispanic_origin
 All other                  5621  4827  1690  7622  152147
 Central or South American   617    18  2914    34     312
 Chicano                       2     0    86     0     216
 Cuban                        88     6   967    10      55
 Do not know                   4     0     0     3     299
 Mexican (Mexicano)           15    21  6327    27     844
 Mexican-American             38    19  3531    22    4469
 NA                           30    32    55    35     722
 Other Spanish               180    33   926    41    1305
 Puerto Rican                118     8   143    31    3013

[10 rows x 5 columns]

In [441]:
census_train.change_in_msa.value_counts()

 ?                   99696
 Nonmover            82538
 MSA to MSA          10601
 NonMSA to nonMSA     2811
 Not in universe      1516
 MSA to nonMSA         790
 NonMSA to MSA         615
 Abroad to MSA         453
 Not identifiable      430
 Abroad to nonMSA       73
dtype: int64

In [442]:
census_train['occupation_cd'] = (census_train['occupation_cd']).apply(func=str.strip)
census_train['target'] = (census_train['target']).apply(func=str.strip)

In [443]:
# Creating a duplicate column to convert occupation_cd_num to numbers
census_train['occupation_cd_num']= census_train['occupation_cd']

In [444]:
'''Converting occupation_cd to numbers:

'Not in universe': 0
'Precision production craft & repair': 1
'Professional specialty': 2
'Executive admin and managerial': 3
'Handlers equip cleaners etc':4 
'Adm support including clerical':5
'Machine operators assmblrs & inspctrs':6 
'Other service':7 
'Sales':8
'Private household services':9 
'Technicians and related support':10
'Transportation and material moving':11
'Farming forestry and fishing':12
'Protective services':13
'Armed Forces':14'''


census_train['occupation_cd_num'] = census_train['occupation_cd_num'].replace(['Not in universe', 'Precision production craft & repair',
       'Professional specialty', 'Executive admin and managerial',
       'Handlers equip cleaners etc', 'Adm support including clerical',
       'Machine operators assmblrs & inspctrs', 'Other service', 'Sales',
       'Private household services', 'Technicians and related support',
       'Transportation and material moving',
       'Farming forestry and fishing', 'Protective services',
       'Armed Forces'], [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14])


del census_train['race'] 
del census_train['hispanic_origin']
del census_train['sex']
del census_train['labor_union']
del census_train['reason_unemployed'] 
del census_train['employ_stat']

In [445]:
#Capital Gains to Household Summary
census_train_reformatted = census_train

#Capital_Gains & Capital_Losses & Dividends
#census_train_reformatted.dividends = census_train_reformatted.dividends.str.strip()
census_train_reformatted["net_capital_gains"] = census_train_reformatted.capital_gains - census_train_reformatted.capital_losses + census_train_reformatted.dividends 
del census_train_reformatted['capital_gains']
del census_train_reformatted['capital_losses']
del census_train_reformatted['dividends']

#Tax_filer
census_train_reformatted.tax_filer = census_train_reformatted.tax_filer.str.strip()

census_train_reformatted.tax_filer.replace('Nonfiler',0, inplace=True)
census_train_reformatted.tax_filer.replace('Joint both under 65',1, inplace=True)
census_train_reformatted.tax_filer.replace('Single',1, inplace=True)
census_train_reformatted.tax_filer.replace('Joint both 65+',1, inplace=True)
census_train_reformatted.tax_filer.replace('Head of household',1, inplace=True)
census_train_reformatted.tax_filer.replace('Joint one under 65 & one 65+',1, inplace=True)

#Region_prev_resid
census_train_reformatted.region_prev_resid = census_train_reformatted.region_prev_resid.str.strip()

census_train_reformatted.region_prev_resid.replace('Not in universe',0, inplace=True)
census_train_reformatted.region_prev_resid.replace('South',1, inplace=True)
census_train_reformatted.region_prev_resid.replace('West',2, inplace=True)
census_train_reformatted.region_prev_resid.replace('Midwest',3, inplace=True)
census_train_reformatted.region_prev_resid.replace('Northeast',4, inplace=True)
census_train_reformatted.region_prev_resid.replace('Abroad',5, inplace=True)

#State_prev_resid
del census_train_reformatted['state_prev_resid']

#household_stat
del census_train_reformatted['household_stat']

#household_summary
census_train_reformatted.household_summary = census_train_reformatted.household_summary.str.strip()

census_train_reformatted.household_summary.replace('Householder',1, inplace=True)
census_train_reformatted.household_summary.replace('Child under 18 never married',0, inplace=True)
census_train_reformatted.household_summary.replace('Spouse of householder',0, inplace=True)
census_train_reformatted.household_summary.replace('Child 18 or older',0, inplace=True)
census_train_reformatted.household_summary.replace('Other relative of householder',0, inplace=True)
census_train_reformatted.household_summary.replace('Nonrelative of householder',0, inplace=True)
census_train_reformatted.household_summary.replace('Group Quarters- Secondary individual',0, inplace=True)
census_train_reformatted.household_summary.replace('Child under 18 ever married',0, inplace=True)

census_train_reformatted.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 199523 entries, 0 to 199522
Data columns (total 52 columns):
age                      199523 non-null int64
class_of_worker          199523 non-null object
industry_recode          199523 non-null int64
occupation_recode        199523 non-null int64
education                199523 non-null object
wage_per_hour            199523 non-null int64
marital                  199523 non-null object
industry_cd              199523 non-null object
occupation_cd            199523 non-null object
race                     199523 non-null object
hispanic_origin          199523 non-null object
sex                      199523 non-null object
labor_union              199523 non-null object
reason_unemployed        199523 non-null object
employ_stat              199523 non-null object
tax_filer                199523 non-null int64
region_prev_resid        199523 non-null int64
household_summary        199523 non-null int64
weight                   199523 non-null float64
change_in_msa            199523 non-null object
change_in_reg            199523 non-null object
move_within_reg          199523 non-null object
live_here_before         199523 non-null object
prev_resid_sunbelt       199523 non-null object
num_person_worked        199523 non-null int64
under_18                 199523 non-null object
birth_country_dad        199523 non-null object
birth_country_mom        199523 non-null object
birth_country_self       199523 non-null object
citizenship              199523 non-null object
owner_self_employed      199523 non-null int64
veterans_admin           199523 non-null object
veterans_benefits        199523 non-null int64
weekes_worked_year       199523 non-null int64
year                     199523 non-null int64
target                   199523 non-null object
target_bin               199523 non-null int64
age_bucket               199523 non-null int64
class_code               199523 non-null int64
industry_major_cd        199523 non-null int64
education_bucket         199523 non-null int64
marital_code             199523 non-null int64
tgt_bin                  199523 non-null int64
birth_country_mom_cd     199523 non-null object
birth_country_dad_cd     199523 non-null object
parents_country_cd       199523 non-null object
birth_country_self_cd    199523 non-null object
citizenship_cd           199523 non-null object
weeks_worked_bin         199523 non-null int64
work_time_proxy          199523 non-null int64
occupation_cd_num        199523 non-null int64
net_capital_gains        199523 non-null int64
dtypes: float64(1), int64(23), object(28)

In [446]:
census_train_reformatted.tax_filer.value_counts()

1    124429
0     75094
dtype: int64

In [447]:
print(census_train_reformatted.net_capital_gains[0:25])

0        0
1        0
2        0
3        0
4        0
5        0
6     5178
7        0
8        0
9        0
10       0
11       0
12       0
13   -1590
14       0
15       0
16       0
17       0
18       0
19    6000
20       0
21       0
22       0
23   -1877
24       0
Name: net_capital_gains, dtype: int64

In [448]:
census_train_reformatted.region_prev_resid.value_counts()
#household_stat         
#household_summary

# Not in universe    183750
# South                4889
# West                 4074
# Midwest              3575
# Northeast            2705
# Abroad                530

0    183750
1      4889
2      4074
3      3575
4      2705
5       530
dtype: int64

In [449]:
census_train_reformatted.household_summary.value_counts()
#75475 householders

0    124048
1     75475
dtype: int64

In [450]:
census_train = census_train_reformatted

census_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 199523 entries, 0 to 199522
Data columns (total 52 columns):
age                      199523 non-null int64
class_of_worker          199523 non-null object
industry_recode          199523 non-null int64
occupation_recode        199523 non-null int64
education                199523 non-null object
wage_per_hour            199523 non-null int64
marital                  199523 non-null object
industry_cd              199523 non-null object
occupation_cd            199523 non-null object
race                     199523 non-null object
hispanic_origin          199523 non-null object
sex                      199523 non-null object
labor_union              199523 non-null object
reason_unemployed        199523 non-null object
employ_stat              199523 non-null object
tax_filer                199523 non-null int64
region_prev_resid        199523 non-null int64
household_summary        199523 non-null int64
weight                   199523 non-null float64
change_in_msa            199523 non-null object
change_in_reg            199523 non-null object
move_within_reg          199523 non-null object
live_here_before         199523 non-null object
prev_resid_sunbelt       199523 non-null object
num_person_worked        199523 non-null int64
under_18                 199523 non-null object
birth_country_dad        199523 non-null object
birth_country_mom        199523 non-null object
birth_country_self       199523 non-null object
citizenship              199523 non-null object
owner_self_employed      199523 non-null int64
veterans_admin           199523 non-null object
veterans_benefits        199523 non-null int64
weekes_worked_year       199523 non-null int64
year                     199523 non-null int64
target                   199523 non-null object
target_bin               199523 non-null int64
age_bucket               199523 non-null int64
class_code               199523 non-null int64
industry_major_cd        199523 non-null int64
education_bucket         199523 non-null int64
marital_code             199523 non-null int64
tgt_bin                  199523 non-null int64
birth_country_mom_cd     199523 non-null object
birth_country_dad_cd     199523 non-null object
parents_country_cd       199523 non-null object
birth_country_self_cd    199523 non-null object
citizenship_cd           199523 non-null object
weeks_worked_bin         199523 non-null int64
work_time_proxy          199523 non-null int64
occupation_cd_num        199523 non-null int64
net_capital_gains        199523 non-null int64
dtypes: float64(1), int64(23), object(28)

In [455]:
subname = ['change_in_msa', 'change_in_reg', 'live_here_before', 'prev_resid_sunbelt',
              'num_person_worked', 'under_18'] 

#new_train = pd.get_dummies(census_train,columns=subname)

In [457]:
census_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 199523 entries, 0 to 199522
Data columns (total 52 columns):
age                      199523 non-null int64
class_of_worker          199523 non-null object
industry_recode          199523 non-null int64
occupation_recode        199523 non-null int64
education                199523 non-null object
wage_per_hour            199523 non-null int64
marital                  199523 non-null object
industry_cd              199523 non-null object
occupation_cd            199523 non-null object
race                     199523 non-null object
hispanic_origin          199523 non-null object
sex                      199523 non-null object
labor_union              199523 non-null object
reason_unemployed        199523 non-null object
employ_stat              199523 non-null object
tax_filer                199523 non-null int64
region_prev_resid        199523 non-null int64
household_summary        199523 non-null int64
weight                   199523 non-null float64
change_in_msa            199523 non-null object
change_in_reg            199523 non-null object
move_within_reg          199523 non-null object
live_here_before         199523 non-null object
prev_resid_sunbelt       199523 non-null object
num_person_worked        199523 non-null int64
under_18                 199523 non-null object
birth_country_dad        199523 non-null object
birth_country_mom        199523 non-null object
birth_country_self       199523 non-null object
citizenship              199523 non-null object
owner_self_employed      199523 non-null int64
veterans_admin           199523 non-null object
veterans_benefits        199523 non-null int64
weekes_worked_year       199523 non-null int64
year                     199523 non-null int64
target                   199523 non-null object
target_bin               199523 non-null int64
age_bucket               199523 non-null int64
class_code               199523 non-null int64
industry_major_cd        199523 non-null int64
education_bucket         199523 non-null int64
marital_code             199523 non-null int64
tgt_bin                  199523 non-null int64
birth_country_mom_cd     199523 non-null object
birth_country_dad_cd     199523 non-null object
parents_country_cd       199523 non-null object
birth_country_self_cd    199523 non-null object
citizenship_cd           199523 non-null object
weeks_worked_bin         199523 non-null int64
work_time_proxy          199523 non-null int64
occupation_cd_num        199523 non-null int64
net_capital_gains        199523 non-null int64
dtypes: float64(1), int64(23), object(28)

In [456]:
subname

['change_in_msa',
 'change_in_reg',
 'live_here_before',
 'prev_resid_sunbelt',
 'num_person_worked',
 'under_18']

In [460]:
#new_train = pd.get_dummies(census_train,columns=subname)

TypeError: get_dummies() got an unexpected keyword argument 'columns'

In [461]:
help(pd.get_dummies)

Help on function get_dummies in module pandas.core.reshape:

get_dummies(data, prefix=None, prefix_sep='_', dummy_na=False)
    Convert categorical variable into dummy/indicator variables

    Parameters
    ----------
    data : array-like or Series
    prefix : string, default None
        String to append DataFrame column names
    prefix_sep : string, default '_'
        If appending prefix, separator/delimiter to use
    dummy_na : bool, default False
        Add a column to indicate NaNs, if False NaNs are ignored.

    Returns
    -------
    dummies : DataFrame

    Examples
    --------
    >>> s = pd.Series(list('abca'))

    >>> get_dummies(s)
       a  b  c
    0  1  0  0
    1  0  1  0
    2  0  0  1
    3  1  0  0

    >>> s1 = ['a', 'b', np.nan]

    >>> get_dummies(s1)
       a  b
    0  1  0
    1  0  1
    2  0  0

    >>> get_dummies(s1, dummy_na=True)
       a  b  NaN
    0  1  0    0
    1  0  1    0
    2  0  0    1

    See also ``Series.str.get_dummies``.